
  
     <div class="footer">
        <section class="bottom">
            <div class="contact">
                <div class="contact_left d-f">
                    <ul class="d-f c-w">
                        <li><a href="#">首頁</a></li>
                        <li><a href="#">系列鏡框</a></li>
                        <li><a href="#">門市據點</a></li>
                        <li><a href="#">部落格</a></li>
                        <li><a href="#">常見問題</a></li>
                    </ul>
                    <div class="contact_phone d-f">
                        <span class="material-icons-outlined">phone</span>
                        <p class="c-w">0800-000-00</p>
                    </div>
                    <div class="contact_mail d-f">
                        <span class="material-icons-outlined">email</span>
                        <p class="c-w">glasses@business.co</p>
                    </div>
                </div>
                
                <div class="contact_right d-f">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="Facebook">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="Instgram">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="Line">
                </div>
            </div>
            
            
            <!-- 一條border line -->
            <div class="line"></div>

            <div class="rights d-f">
                <p class="c-w">Copyright © 2020 Glasses.All rights reserved.</p>
                <ul class="d-f c-w">
                    <li>隱私權政策</li>
                    <li>服務條款</li>
                </ul>
            </div>
        </section>